#principal {
    border: 1px solid black;
}

.conteudo h3 {
    text-align: center;
}

/* Estilo para a tabela dinamica, listar cliente e veiculo */
.sanfona {
    width: 98%;
    position: absolute;
    border: solid black;
}

.sanfona .item {
    width: 100%;
    overflow: hidden;
}

.sanfona .item .nome-cliente {
    position: relative;
    padding: 15px 0px;
    padding-left: 40px;
    cursor: pointer;
}

.sanfona .item .nome-cliente:before {
    content: "+";
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%) rotate(0deg);;
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    color: #555;
    transition: all 300ms ease-in-out;
}

.sanfona .item .veiculo-cliente {
    max-height: 0px;
    overflow: hidden;
    transition: 0.5s;
}

.sanfona .item.ativo .nome-cliente:before {
    transform: translate(-50%, -50%) rotate(145deg);
}

.sanfona .item.ativo .veiculo-cliente {
    max-height: 500px;
}

/* daqui para baixo é o design do POP-UP*/
#mostrar-pop-up {
    cursor: pointer;
}

#pop-up {
    position: fixed;
    top: -125%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,50%) scale(1.25);
    width: 380px;
    max-width: 90%;
    padding: 20px 40px;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    background-color: #fff;
    z-index: 10;
    transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
    display: none;
}

#pop-up.ativo {
    top: -30%;
    opacity: 1;
    transform: translate(-50%,50%) scale(1);
    transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
    z-index: 11;
}

#pop-up .botao-fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

#pop-up .formulario h3 {
    text-align: center;
    margin: 10px 0px 20px;
}

#pop-up .formulario {
    margin: 15px 0px;
}

#pop-up .formulario input {
    margin-top: 5px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    padding: 8px;
    outline: none;
    border: 1px solid;
    border-radius: 5px;
}

#pop-up .botao-salvar {
    margin-top: 20px;
    width: 50%;
    height: 30px;
    cursor: pointer;
    outline: none;
}

#pop-up .botao-salvar-formulario {
    text-align: center;
}