/* Estilos para o campo de pesquisa */
.search-section {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 10px;
    margin-left: 73%;
    border: 1px solid black;
    overflow: hidden;
    width: 50%;
    max-width: 300px; /* Definir uma largura máxima para o campo de pesquisa */
    justify-content: flex-start; /* Alinhar os elementos à esquerda */
}

#searchInput {
    border: none;
    flex: 1; /* Ocupar todo o espaço restante no contêiner */
    padding: 10px;
    font-size: 16px;
    font-family: Exo;
    border-radius: 0 10px 10px 0; /* Arredondar apenas o lado direito do campo de pesquisa */
    outline: none;
}

.lupa {
    width: 60px; /* Definir a largura da imagem da lupa */
    height: auto; /* Permitir que a altura da imagem seja ajustada automaticamente */
    padding: 8px; /* Adicionar um pequeno espaçamento interno */
    box-sizing: border-box; /* Garantir que o padding não afete o tamanho total */
}
