.page-title {
    text-align: center;
    font-size: 25px;
    font-family: Exo;
}

.table-section {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-top: 0px;
    font-family: Exo;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Exo;
}

tr {
    text-align: center; /* Centraliza o conteúdo da linha */
    font-family: Exo;
}

td {
    border: 1px solid #ccc;
    padding: 8px;
    font-family: Exo;
}