<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadastrarPerfil</servlet-name>
        <servlet-class>controller.CadastrarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtivarPerfil</servlet-name>
        <servlet-class>controller.AtivarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesativarPerfil</servlet-name>
        <servlet-class>controller.DesativarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarUsuario</servlet-name>
        <servlet-class>controller.CadastrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtivarUsuario</servlet-name>
        <servlet-class>controller.AtivarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesativarUsuario</servlet-name>
        <servlet-class>controller.DesativarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarLogin</servlet-name>
        <servlet-class>controller.ValidarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarUsuario</servlet-name>
        <servlet-class>controller.AlterarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarFuncionario</servlet-name>
        <servlet-class>controller.CadastrarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtivarFuncionario</servlet-name>
        <servlet-class>controller.AtivarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesativarFuncionario</servlet-name>
        <servlet-class>controller.DesativarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarFuncionario</servlet-name>
        <servlet-class>controller.AlterarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarTabelaPreco</servlet-name>
        <servlet-class>controller.CadastrarTabelaPreco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtivarTabelaPreco</servlet-name>
        <servlet-class>controller.AtivarTabelaPreco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesativarTabelaPreco</servlet-name>
        <servlet-class>controller.DesativarTabelaPreco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarTabelaPreco</servlet-name>
        <servlet-class>controller.AlterarTabelaPreco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarTipoDePagamento</servlet-name>
        <servlet-class>controller.CadastrarTipoDePagamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtivarFormaDePagamento</servlet-name>
        <servlet-class>controller.AtivarTipoDePagamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesativarFormaDePagamento</servlet-name>
        <servlet-class>controller.DesativarTipoDePagamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarFormaDePagamento</servlet-name>
        <servlet-class>controller.AlterarTipoDePagamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPerfil</servlet-name>
        <servlet-class>controller.AlterarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarClienteVeiculo</servlet-name>
        <servlet-class>controller.CadastrarClienteVeiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarClienteVeiculo</servlet-name>
        <servlet-class>controller.AlterarClienteVeiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarVeiculo</servlet-name>
        <servlet-class>controller.CadastrarVeiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarAtendimento</servlet-name>
        <servlet-class>controller.CadastrarAtendimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarMenuPerfil</servlet-name>
        <servlet-class>controller.GerenciarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarMenu</servlet-name>
        <servlet-class>controller.CadastrarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarMenu</servlet-name>
        <servlet-class>controller.AlterarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirMenu</servlet-name>
        <servlet-class>controller.ExcluirMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NaoPagarAtendimento</servlet-name>
        <servlet-class>controller.NaoPagarAtendimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagarAtendimento</servlet-name>
        <servlet-class>controller.PagarAtendimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarSaidaFluxoDeCaixa</servlet-name>
        <servlet-class>controller.CadastrarSaidaFluxoDeCaixa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirSaidaCaixa</servlet-name>
        <servlet-class>controller.ExcluirSaidaCaixa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerarRelatorioEntradaDeValores</servlet-name>
        <servlet-class>controller.GerarRelatorioEntradaDeValores</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarPerfil</servlet-name>
        <url-pattern>/cadastrar_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtivarPerfil</servlet-name>
        <url-pattern>/ativar_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesativarPerfil</servlet-name>
        <url-pattern>/desativar_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarUsuario</servlet-name>
        <url-pattern>/cadastrar_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtivarUsuario</servlet-name>
        <url-pattern>/ativar_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesativarUsuario</servlet-name>
        <url-pattern>/desativar_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarFuncionario</servlet-name>
        <url-pattern>/cadastrar_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtivarFuncionario</servlet-name>
        <url-pattern>/ativar_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesativarFuncionario</servlet-name>
        <url-pattern>/desativar_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarFuncionario</servlet-name>
        <url-pattern>/alterar_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarLogin</servlet-name>
        <url-pattern>/validar_login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarTabelaPreco</servlet-name>
        <url-pattern>/cadastrar_tabela_preco.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtivarTabelaPreco</servlet-name>
        <url-pattern>/ativar_tabela_preco.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesativarTabelaPreco</servlet-name>
        <url-pattern>/desativar_tabela_preco.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarTabelaPreco</servlet-name>
        <url-pattern>/alterar_tabela_preco.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtivarFormaDePagamento</servlet-name>
        <url-pattern>/ativar_pagamento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesativarFormaDePagamento</servlet-name>
        <url-pattern>/desativar_pagamento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarFormaDePagamento</servlet-name>
        <url-pattern>/alterar_forma_pagamento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPerfil</servlet-name>
        <url-pattern>/alterar_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarUsuario</servlet-name>
        <url-pattern>/alterar_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarTipoDePagamento</servlet-name>
        <url-pattern>/cadastrar_tipo_pagamento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarClienteVeiculo</servlet-name>
        <url-pattern>/cadastrar_cliente_veiculo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarClienteVeiculo</servlet-name>
        <url-pattern>/alterar_cliente_veiculo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarVeiculo</servlet-name>
        <url-pattern>/cadastrar_veiculo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarAtendimento</servlet-name>
        <url-pattern>/cadastrar_atendimento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarMenuPerfil</servlet-name>
        <url-pattern>/gerenciar_menu_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarMenu</servlet-name>
        <url-pattern>/cadastrar_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarMenu</servlet-name>
        <url-pattern>/alterar_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirMenu</servlet-name>
        <url-pattern>/excluir-menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NaoPagarAtendimento</servlet-name>
        <url-pattern>/nao_pagar_atendimento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagarAtendimento</servlet-name>
        <url-pattern>/pagar_atendimento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarSaidaFluxoDeCaixa</servlet-name>
        <url-pattern>/cadastrar_valor_saida.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirSaidaCaixa</servlet-name>
        <url-pattern>/excluir-saida-caixa.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerarRelatorioEntradaDeValores</servlet-name>
        <url-pattern>/gerar-relatorio-entrada-valores.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
