<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadastrarPerfil</servlet-name>
        <servlet-class>controller.CadastrarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtivarPerfil</servlet-name>
        <servlet-class>controller.AtivarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesativarPerfil</servlet-name>
        <servlet-class>controller.DesativarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarUsuario</servlet-name>
        <servlet-class>controller.CadastrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtivarUsuario</servlet-name>
        <servlet-class>controller.AtivarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesativarUsuario</servlet-name>
        <servlet-class>controller.DesativarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarLogin</servlet-name>
        <servlet-class>controller.ValidarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCadastroUsuario</servlet-name>
        <servlet-class>controller.AlterarCadastroUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarSenhaUsuario</servlet-name>
        <servlet-class>controller.AlterarSenhaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarFuncionario</servlet-name>
        <servlet-class>controller.CadastrarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtivarFuncionario</servlet-name>
        <servlet-class>controller.AtivarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesativarFuncionario</servlet-name>
        <servlet-class>controller.DesativarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarFuncionario</servlet-name>
        <servlet-class>controller.AlterarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarCliente</servlet-name>
        <servlet-class>controller.CadastrarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtivarCliente</servlet-name>
        <servlet-class>controller.AtivarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesativarCliente</servlet-name>
        <servlet-class>controller.DesativarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCliente</servlet-name>
        <servlet-class>controller.AlterarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarVeiculo</servlet-name>
        <servlet-class>controller.CadastrarVeiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarVeiculo</servlet-name>
        <servlet-class>controller.AlterarVeiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ativarveiculo</servlet-name>
        <servlet-class>controller.AtivarVeiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesativarVeiculo</servlet-name>
        <servlet-class>controller.DesativarVeiculo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarPerfil</servlet-name>
        <url-pattern>/cadastrar_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtivarPerfil</servlet-name>
        <url-pattern>/ativar_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesativarPerfil</servlet-name>
        <url-pattern>/desativar_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarUsuario</servlet-name>
        <url-pattern>/cadastrar_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtivarUsuario</servlet-name>
        <url-pattern>/ativar_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesativarUsuario</servlet-name>
        <url-pattern>/desativar_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCadastroUsuario</servlet-name>
        <url-pattern>/alterar_cadastro_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarSenhaUsuario</servlet-name>
        <url-pattern>/alterar_senha_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarFuncionario</servlet-name>
        <url-pattern>/cadastrar_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtivarFuncionario</servlet-name>
        <url-pattern>/ativar_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesativarFuncionario</servlet-name>
        <url-pattern>/desativar_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarCliente</servlet-name>
        <url-pattern>/cadastrar_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtivarCliente</servlet-name>
        <url-pattern>/ativar_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesativarCliente</servlet-name>
        <url-pattern>/desativar_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCliente</servlet-name>
        <url-pattern>/alterar_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarFuncionario</servlet-name>
        <url-pattern>/alterar_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarVeiculo</servlet-name>
        <url-pattern>/cadastrar_veiculo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarVeiculo</servlet-name>
        <url-pattern>/alterar_veiculo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ativarveiculo</servlet-name>
        <url-pattern>/ativar_veiculo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesativarVeiculo</servlet-name>
        <url-pattern>/desativar_veiculo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarLogin</servlet-name>
        <url-pattern>/validar_login.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
