.table-section {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
    font-family: Exo;
}

tr {
    text-align: center; /* Centraliza o conteúdo da linha */
}

td {
    border: 1px solid #ccc;
    padding: 8px;
}

.page-title {
    text-align: center;
    font-size: 25px;
    font-family: Exo;
    justify-content: center;
}

.botao-padrao {
    cursor: pointer;
    padding: 5px 10px; /* Ajusta o espaçamento interno do botão */
    border-radius: 5px; /* Arredonda as bordas do botão */
    font-family: Exo;
}

input {
    width: 98%;
    text-align: center;
    margin: 0;
    border: none;
    outline: none;
    font-family: Exo;
    font-size: 18px;
}

.botao-salvar {
    display: block;
    margin: 0 auto; /* Isso centraliza horizontalmente o botão na div */
}

.select {
    font-family: Exo;
    font-size: 18px;
    border-radius: 4px;
    width: 200px;
}